{% extends "base.html" %}
{% block app_content %}

<section class="container-md">
    <div class="row mx-5 p-5">
        <div class="col my-3 p-5">
            <form  action="" method="POST" class="py-3" novalidate>
                {{form.hidden_tag()}}
                <div class="form-floating">
                    {{form.password(class_="form-control", id="floatingPassword")}}
                    {{form.password.label(for="floatingPassword")}} <br>
                    
                    {%for error in form.password.errors%}
                        <span class="alert-error-text" style="color: red;">{{error}}</span>
                    {%endfor%}
                </div>
                <div class="form-floating">
                    {{form.confirm_password(class_="form-control", id="floatingPassword")}}
                    {{form.confirm_password.label(for="floatingPassword")}} <br>
                    
                    {%for error in form.confirm_password.errors%}
                        <span class="alert-error-text" style="color: red;">{{error}}</span>
                    {%endfor%}
                </div>
                
                <div class="d-grid gap-2 ">
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>         
</section>
{% endblock %}