{% extends "base.html" %}
{% block app_content %}

    <div class="container">
      {% if movies %}
      <h4 class="font-monospace my-4 lead">Search Results: select your favourite movie by clicking on "<i class="bi bi-file-plus-fill" style="font-size: 1rem; color: rgb(4, 7, 12);"></i>" </h4>
        
      <div class="row">
        {% for movie in movies %}
        <div class="col col-md-4 search-cards">
          <div class="d-flex justify-content-evenly">
            <img src="{{ movie['cover'] }}" class="" alt="">
            <div class="search-details">
              <a href="{{ movie['url'] }}" target="_blank"><h5 class="">{{ movie['title'] }}</h5></a>
              <p class="fw-bold">{{ movie['year'] }}</p>
            </div>
            <div class="add-movie">
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="add this movie" href="{{ url_for('add_movie', group_id=group_id, imdb_id=movie['id'] ) }}"><i class="bi bi-file-plus-fill" style="font-size: 2rem; color: rgb(4, 7, 12);"></i></a>
            </div>
          </div>          
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="">
        <h5>No Results found</h5>
      </div>
      {% endif %}  
    </div>

{% endblock %}